Internship remainder.json
{
  "name": "Internship remainder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "870f8c87-c164-422b-93d6-a11248fb07b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://internship-tracker-ztxl.onrender.com/get-reminders",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a67c30d0-29f7-46e0-b4ac-6c35a8e476c0",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Inraiya date-ai IST format-la edukkavum\nconst today = new Date();\nconst offset = today.getTimezoneOffset() * 60000; // Timezone adjustment\nconst localISOTime = new Date(today - offset).toISOString().split('T')[0];\n\n// 2. Nalaiku date-ai calculate pannavum (T+1)\nconst tomorrow = new Date(today);\ntomorrow.setDate(today.getDate() + 1);\nconst tomorrowStr = new Date(tomorrow - offset).toISOString().split('T')[0];\n\nconsole.log(\"Checking for date:\", tomorrowStr);\n\n// 3. Filter and Map logic\nreturn items.filter(item => {\n  // Database-la irukkura date-aiyum, tomorrowStr-aiyum compare pannuvom\n  return item.json.date_applied && item.json.date_applied.trim() === tomorrowStr;\n}).map(item => {\n  return {\n    json: {\n      email: item.json.email,\n      company: item.json.company,\n      role: item.json.role || \"Developer\",\n      date: item.json.date_applied,\n      // IPPO PLATFORM DATA-VUM ADUTHA NODE-KU POGUM\n      platform: item.json.platform || \"Direct Website\", \n      status: \"Reminder Sent\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        16
      ],
      "id": "0589f55c-cbbf-4f2f-ae78-aff7a4dc0814",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fromEmail": "=sparklingkarthi2005@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Final Reminder: {{ $json.role }} Role at {{ $json.company }}",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f0f2f5;\">\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"padding: 20px;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"600\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e1e4e8;\">\n                    <tr>\n                        <td align=\"center\" style=\"background-color: #2c3e50; padding: 25px;\">\n                            <h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">Internship Tracker Alert</h1>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td style=\"padding: 35px;\">\n                            <p style=\"font-size: 16px; color: #333;\">Hello Student,</p>\n                            <p style=\"font-size: 15px; color: #555; line-height: 1.5;\">\n                                Great news! You have an upcoming milestone in your career journey. Here are the details for your internship application:\n                            </p>\n                            \n                            <table width=\"100%\" style=\"margin: 25px 0; border-collapse: collapse;\">\n                                <tr>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #7f8c8d;\">Company</td>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold;\">{{ $json.company }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #7f8c8d;\">Role</td>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold;\">{{ $json.role }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #7f8c8d;\">Platform</td>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold; color: #3498db;\">{{ $json.platform }}</td>\n                                </tr>\n                                <tr>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #7f8c8d;\">Scheduled Date</td>\n                                    <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-weight: bold; color: #e67e22;\">{{ $json.date }}</td>\n                                </tr>\n                            </table>\n\n                            <div style=\"background-color: #ebf5fb; padding: 20px; border-radius: 8px; text-align: center; margin-top: 20px;\">\n                                <p style=\"margin: 0; color: #2980b9; font-weight: bold; font-size: 16px;\">\n                                    ✨ Best of luck with your application! We believe in you. ✨\n                                </p>\n                            </div>\n\n                            <p style=\"font-size: 14px; color: #888; margin-top: 30px; text-align: center;\">\n                                Keep track of all your applications via the InternFlow Dashboard.\n                            </p>\n                        </td>\n                    </tr>\n                    <tr>\n                        <td align=\"center\" style=\"padding: 15px; background-color: #f8f9fa; font-size: 11px; color: #999;\">\n                            © 2026 InternFlow | Automated Career Assistant\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        16
      ],
      "id": "d73628ac-8d28-4f19-9dcf-b1fd3e617b47",
      "name": "Send an Email",
      "webhookId": "2cb12271-9cae-4068-badd-99c7668662de",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "smtp": {
          "id": "Ld0D30F9r1GZTSqT",
          "name": "SMTP account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "1dbf6a0f-8fbf-4454-b8d0-5532916a80f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21c1274f2a4e8814d58add71716aa8f2c2fac3830de811ed333aa418aa78dd18"
  },
  "id": "DrCVZKbb7g9dG3hD",
  "tags": []
}